header.masthead {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    color: #fff;
    background: white;
}

#noscript-warning {
    font-family: sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    color: #FFF;
    background-color: #AE0000;
   

